<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.demo.c.user">

    <application
        android:name="com.billy.debug.DebugApplication"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <activity android:name="com.billy.debug.DebugActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name="com.demo.c.user.login.ActLogin" />
    </application>
</manifest>
